/* *{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}
.content{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height: 100vh;
  
}
.content ul{
  padding-top: 10px;
  font-size: 20px;

}
.content ul li{
  padding-bottom: 10px;
}
.content ul li :hover{
  padding-bottom: 10px;
  transition: 10ms;
  color:black
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(40, 42, 52);
  display: flex;
  justify-content: space-between; 
  align-items: center; 

  padding: 10px 20px; 
}
nav p {
  color: white;
  font-size: 20px; 
}
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 0 10px; 


}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: lightgray;
}

.content{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(36, 30, 46);
  color: white;
  
}
h2{
  font-weight:bolder;
  font-family: monospace;
  font-size: 40px
  
}
h3{
  font-family:monospace;
  padding-top: 20px;
  font-size: 30px;
}


